@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-dark-purple: #413d55;
  --color-light-purple: #78729c;
  --color-light-purple-2: #d8d0eb;
  --color-off-white: #fefefe;
  --color-white: #ffffff;
  --color-pink: #ff758c;
  --color-light-pink: #ffaab7;
  --color-light-pink-2: #ffc3ca;
  --color-yellow: #ffd300;
  --color-red: #8e2131;
  --color-green-a: #055427;
  --color-green-b: #6db084;
  --color-gray-a: #b4b4b4;
  --color-gray-b: #535353;

  --color-error-red: #ef4444;

  --font-body: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-dark-purple);
  background-color: var(--color-off-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------*/

/* Buttons | a | input*/

button,
a,
input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  transition:
    transform 0.2s ease-in-out,
    filter 0.2s ease-in-out,
    background-color 0.3s ease-in-out,
    scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

/* Efeito de "Afundar" ao clicar/segurar */
button:active:not(:disabled),
a:active,
input[type='checkbox']:active,
input[type='radio'] :active {
  transform: scale(0.98) translateY(1px);
  filter: brightness(0.9);
}

/* Ajuste específico para botões desabilitados do Angular */
button:disabled {
  cursor: not-allowed;
  transform: none !important; /* Impede que o botão desativado afunde */
  filter: grayscale(1) opacity(0.6);
}

button:enabled:hover {
  transform: translateY(-2px);
  opacity: 1;
}

/*------------------------------------------------------------------*/

/* Forms */

.form-error {
  color: red;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

/*------------------------------------------------------------------*/

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Icons */

.material-icons {
  transition: color 0.2s ease-in-out;
  user-select: none;
}

.material-icons.offwhite {
  color: var(--color-off-white);
}

.material-icons.gray {
  color: var(--color-gray-a);
}

.material-icons.orange {
  color: orange;
}

.material-icons.yellow {
  color: var(--color-yellow);
}
