<div class="customers-container">
  <header class="top-header">
    <h1>CLIENTES</h1>

    <div class="filters">
      <div class="filter-buttons">
        <button [class.active]="currentFilter() === 'all'" (click)="setFilter('all')">Todos</button>

        <button [class.active]="currentFilter() === 'starred'" (click)="setFilter('starred')">
          Marcados
        </button>

        <button [class.active]="currentFilter() === 'archived'" (click)="setFilter('archived')">
          Arquivados
        </button>
      </div>

      <div class="secondary-options">
        <button id="button-add-customer">
          <span class="material-icons"> add </span>
          <span>Adicionar Cliente</span>
        </button>
        <input
          type="text"
          placeholder="Pesquisar..."
          [ngModel]="search()"
          (ngModelChange)="onSearch($event)"
        />
      </div>
    </div>
  </header>

  <section class="customers-list">
    <!-- HEADER -->
    <article class="customer-header">
      <div>ID</div>
      <div>NOME</div>
      <div>CPF</div>
      <div>TELEFONE</div>
      <div>E-MAIL</div>
      <div>AÇÕES</div>
    </article>

    <!-- ITEMS -->
    <article
      class="customer-card"
      *ngFor="let customer of customers()"
      (click)="selectCustomer(customer)"
      [class.selected]="selectedCustomer?.id === customer.id"
    >
      <div class="customer-cell">
        {{ customer.id }}
      </div>
      <div class="customer-cell">
        {{ customer.name }}
      </div>

      <div class="customer-cell">
        {{ customer.cpf }}
      </div>

      <div class="customer-cell">
        {{ customer.phone }}
      </div>

      <div class="customer-cell">
        {{ customer.email }}
      </div>

      <div class="actions">
        <div class="btn-group">
          <button
            (click)="toggleStar(customer)"
            [title]="customer.isStarred ? 'Desmarcar cliente' : 'Marcar cliente'"
          >
            <span class="material-icons yellow" [class.is-starred]="customer.isStarred">
              {{ customer.isStarred ? 'star' : 'star_border' }}
            </span>
          </button>
          <button
            (click)="toggleArchive(customer)"
            [title]="customer.isArchived ? 'Desarquivar cliente' : 'Arquivar cliente'"
          >
            <span
              class="material-icons"
              [class.gray]="!customer.isArchived"
              [class.orange]="customer.isArchived"
            >
              {{ customer.isArchived ? 'unarchive' : 'archive' }}
            </span>
          </button>
        </div>
      </div>
    </article>

    <div class="empty-state" *ngIf="!loading() && customers().length === 0">
      <span class="material-icons icon purple"> search_off </span>

      <p>Nenhum cliente encontrado.</p>

      <button
        class="empty-state-btn"
        *ngIf="search() || currentFilter() !== 'all'"
        (click)="clearFilters()"
      >
        Limpar filtros
      </button>
    </div>
  </section>

  <footer class="pagination-footer">
    <div class="pagination" *ngIf="currentPage() > 1 || hasNextPage()">
      <button class="nav-btn" (click)="previousPage()" [disabled]="currentPage() === 1">←</button>

      <span class="page-indicator"> Página {{ currentPage() }} de {{ totalPages() }} </span>

      <button class="nav-btn" (click)="nextPage()" [disabled]="!hasNextPage()">→</button>
    </div>
  </footer>
</div>
